.dropdown {
  position: relative;
  display: inline-block;
  height: 80%;
  margin: auto;
  font-family: 'Bebas Neue', cursive;
}

.menuItem__main {
  font-size: 1.8rem;
  /* font-weight: bold; */
  height: 100%;
  transition: ease-in-out 0.2s opacity;
  transition: ease 0.1s transform;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem__main:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

.menuItem__main a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
  width: 13vw;
}

.dropdown:hover .dropdown-content {
  animation: fadeInMenu 0.3s both ease-in;
  display: block;
}

.dropdown-link {
  padding: 4%;
  transition: ease-in-out 0.2s opacity;
}

.dropdown-link:hover {
  opacity: 0.5;
}

.dropdown-link a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}