.overlayItem__main {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.overlayItem__main a {
    text-decoration: none;
    color: white;
    transition: ease 0.3s opacity;
}

.overlayItem__main a:hover {
    opacity: 0.5;
}