.sukienki_left {
  display: flex;
  /* flex-direction: row-reverse; */
  background-color: #F9F3DF;
  border-radius: 20px;
  height: 25vh;
  margin-bottom: 1%;
  border: solid 1px transparent;
  transition: border 0.3s ease-in;
  transition: opacity 0.5s ease-in;
}

.sukienki_right {
  display: flex;
  border-radius: 20px;
  height: 25vh;
  margin-bottom: 1%;
  border: solid 1px transparent;
  transition: border 0.2s ease-in;
  transition: opacity 0.5s ease-in;


}

.sukienki_right:hover {
  /* border: solid 1px brown; */
  opacity: 0.8;
}

.sukienki_left:hover {
  /* border: solid 1px brown; */
  opacity: 0.8;
}

@keyframes borderappear {
  from {
    border: solid 2px white;
  }
  to {
    bodrder: solid 2px black;
  }
}
