.wrapper {
  width: 80%;
  margin: 5vh auto 0 auto;
  font-family: 'Alegreya', serif;

}

.wrapper a {
  text-decoration: none;
  color: black;
}

.image {
  width: 40%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 95%;
  height: 90%;
  border-radius: 20px;
  object-fit: cover;
}

.textarea {
  padding: 2%;
  height: 85%;
  margin: auto 0;
  width: 60%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 20%;
  transition: ease 0.1s transform;
}

.title:hover {
  transform: scale(1.1);
}

.opis {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 30%;
}
