.price-main {
    width: 90%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin: auto;
}

.price-cena {
    padding: 1%;
    background-color: #C1A3A3;
    width: 45%;
    border-radius: 20px;
}

.price-linki {
    padding: 1%;
    background-color: #C1A3A3;
    width: 45%;
    border-radius: 20px;
}

.price-linki div {

}

