@font-face {
  font-family: 'Nasalization';
  src: local('Nasalization'),
       url('./../../fonts/nasalization-rg.otf') format('opentype');
  /* font-weight: bold; */
}
.section-wrapper-1 {
  height: calc(25vh + 15vw);
  font-family: Nasalization;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.section-wrapper-2 {
  height: calc(25vh + 15vw);
  font-family: Nasalization;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  background-color: #edcfa9;
}

.section-main-position {
  height: 90%;
  width: 70%;
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  
}

.reverse-row {
  height: 90%;
  width: 70%;
  margin: auto 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.reverse-row .desctiption-linksprices {
  background-color: #f9faef;
}

.section-image {
  height: 100%;
  width: 45%;
}

.section-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.description-wrapper {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-wrapper a {
  text-decoration: none;
  color: black;
}

.description-title {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  transition: ease-in-out 0.2s opacity;
  transition: ease 0.1s transform;
  overflow: hidden;
  font-size: 3rem;
  min-height: 20%;
  
}

.description-title:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
.description-1 {
  font-size: 1.2rem;

}

.desctiption-linksprices {  
  border-radius: 10px;
  background-color: #edcfa9;
  height: 30%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




@media (min-width: 992px) and (max-width: 1700px) {
  .section-main-position {
    width:80%;
  }
  .reverse-row {
    width: 80%;
  }

  .section-image {

  }
  .description-wrapper {
  }

  .description-title {
    font-size: 2rem;
  }

  .desctiption-linksprices {  
    font-size: 1rem;
  }
  .description-1 {
    font-size: 1rem;
  
  }

}

@media (max-width: 992px) {
  .section-wrapper-1 {
    height: auto;
  }
  .section-wrapper-2 {
    height: auto;
  }
  .section-main-position {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
  }
  .reverse-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
  }

  .section-image {
    width: 90%;
  }

  .description-wrapper {
    width: 90%;
  }

  .description-title {
    margin: 3% 0;
    font-size: 2.5rem;
  }

  .desctiption-linksprices {
    margin: 5% 0 0 0;
    font-size: 1.1rem;
    padding: 3% 0;
    display: flex;
  }


}
