@font-face {
  font-family: 'Nasalization';
  src: local('Nasalization'),
       url('./../../fonts/nasalization-rg.otf') format('opentype');
  /* font-weight: bold; */
}
.section-wrapper-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  font-family: Nasalization;
}

.section-wrapper-2 {
  width: 100%;
  background-color: #edcfa9;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  font-family: Nasalization;
}

.section-main-position {
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.reverse-row {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.reverse-row .desctiption-linksprices {
  background-color: #f9faef;
}

.section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
}

.section-image img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
}

.description-wrapper {
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 49%;
}

.description-wrapper a {
  text-decoration: none;
  color: black;
}

.description-title {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  transition: ease-in-out 0.2s opacity;
  transition: ease 0.1s transform;
  overflow: hidden;
  font-size: 2.5rem;
  min-height: 20%;
  
}

.description-title:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
.description-1 {

}

.desctiption-linksprices {  
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  background-color: #edcfa9;
}




@media (min-width: 992px) and (max-width: 1700px) {
  .section-main-position {
    width:80%;
  }
  .reverse-row {
    width: 80%;
  }

  .section-image {

  }
  .description-wrapper {
  }
}

@media (max-width: 992px) {
  .section-main-position {
    flex-direction: column;
    width: 80%;
  }
  .reverse-row {
    flex-direction: column;
    width: 80%;
  }
  .section-image {
    width: 100%;
    height: 50%;
  }
  .description-wrapper {
    width: 100%;
    height: 50%;
  }
}
