.section-wrapper {
  width: 100%;
  display: flex;
  /* padding: 2% 0; */
  /* background-color: green; */
  margin: 1%;
  justify-content: space-around;
  /* height: 50vh; */
}

.section-image {
  width: 50%;
  height: 100%;
  /* padding: 1%; */
  
}

.section-image img {
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.section-descr {
  width: 50%;
  /* padding: 1%; */
  background-color: white;
}

