.button__main a {
  text-decoration: none;
}

.button__main {
  margin: 1% 1%;
  width: 20vh;
  text-align: center;
}

.button__sub {
  border-radius: 15px;
  padding: 1%;
}

.button_link-1 {
  color: black;
  background-color: #edcfa9;
}

.button_link-2 {
  color: black;
  background-color: #edcfa9;
}

.button_link-3 {
  color: black;
  background-color: #edcfa9;
}

