.entollment__fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.2s ease-in-out;
}

.enrollment__absolute {
    top: 15vh;
    left: 25vw;
    position: fixed;
    z-index: 2000;
    width: 50vw;
    height: 60%;
    /* margin: 15vh auto; */
    background-color: #f5f5ef;
    border-radius: 20px;
    box-shadow: 0 6px 10px 0 rgba(209, 202, 202, 0.25), 0 10px 20px 0 rgba(212, 202, 202, 0.25);
    text-align: center;
    font-family: "Teko";
}

.enrollment__text {
    padding: 5% 0;
    width: 90%;
    margin: auto;
    font-size: 1.7rem;
}

@-webkit-keyframes fadeInFromNone {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInFromNone {
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }