.event__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    font-family: 'Nasalization Rg', sans-serif;
    background-color: #B4CFB0;
    min-height: 15vh;
}


.event__title {
    width: 60%;
}

.event__info {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.event__date {
    /* width: 20%; */
    text-align: center;
}
.event__links {
    display: flex;
    justify-content: space-around;
    /* width: 10%; */
}

.event__heading {
    font-size: 1.5rem;
}

@media (min-width: 992px) and (max-width: 1700px) {
    .event__title {
        width: 50%;
        /* padding: 1% 0; */
        
    }
    .event__info {
        padding: 1% 0;
        /* width: 25%;
        justify-content: space-between; */
    }
  }
  
  @media (max-width: 992px) {
    .event__main {
        flex-direction: column;
        text-align: center;
    }
    .event__title {
        width: 90%;
        padding: 1% 0;
    }
    .event__info {
        padding: 1% 0;
        width: 90%;
        justify-content: space-around;
    }
  }