@font-face {
    font-family: 'Nasalization';
    src: local('Nasalization'),
         url('./../../fonts/nasalization-rg.otf') format('opentype');
    font-weight: bold;
  }
.event_position {
    background-color: #B4CFB0;
    display: flex;
    justify-content: center;
    font-family: Nasalization;
    min-height: 10vh;
    cursor: default;
    margin: 1% 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 7px 0px;

}
.event__main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event__title {
    width: 70%;
}

.event__info {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.event__date {

}

.event__heading {
    font-size: 1.5rem;
}

@media (min-width: 992px) and (max-width: 1700px) {
    .event__title {
        width: 60%;
        
    }
    .event__info {
        width: 30%;
    }
  }
  
  @media (max-width: 992px) {
    .event__main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        padding: 2% 0;
        min-height: 13vh;
        width: 90%;
    }
    .event__title {
        height: 70%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .event__info {
        width: 90%;
        height: 20%;
        justify-content: space-around;
    }
  }