.wrapper {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    padding: 1%;
    background-color: #F9F3DF;
    padding-bottom: 2%;
    font-family: "Teko";
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}

.seg1 {
    width: 30%; 
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.seg1 div {

}

.seg2 {
    height: 45vh;
    width: 30%;
    border-left: solid 1px black;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.seg2 div {
    margin: 3% 0;
}
.seg2 a {
    margin-right: 9px;
}

.messenger {
    display: flex;
    align-items: center;
    
}

.seg3 {
    height: 45vh;

    width: 30%;
    border-left: solid 1px black;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.socialwrapper {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:50%;

}

.socialwrapper div {
    
}

.socialmedia {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.socialmedia i {
    margin-right: 10px;
}

.title {
    font-size: 1.5rem;
}

@media (max-width: 992px) {
    .wrapper {
        flex-direction: column;
        font-size: 1.7rem;
        height: auto;
        margin-top: 5vh;
        width: 90%;
    }

    .seg1 {
        width: 95%;
        height: auto;
        
    }
    .seg2 {
        border-top: solid 1px black;
        border-left: none;
        width: 95%;
        height: auto;
        padding-left: 0;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .seg2 div {
        margin: 2% 0;
        
    }
    .seg3 {
        border-top: solid 1px black;
        border-left: none;
        width: 95%;
        height: auto;
        padding-left: 0;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .messenger {
        justify-content: center;
        align-items: center;
    }

    .socialmedia {
        justify-content: center;
        align-items: center;
        margin: 3% 0;
    }
    .title {
        font-size: 2.5rem;
        text-align: center;
    }


}