.mainpage__main {
  background-color: #f9faef;
  font-family: 'Teko';
  font-size: 1.5rem;
  padding-bottom: 2%;

}

.mainpage__heading {
  width: 60%;
  margin: auto;
  font-size: 2rem;
  padding: 1% 0;
  text-align: center;
}

/* polubione kolory 
background-color: #faeee7; 
background-color: #fff8f3;
background-color: #f8f0df;





*/

@media (max-width: 992px) {
  .mainpage__main {
    margin: 0 auto;
    width: 80%;
  }
  .mainpage__heading {
    margin: 5% 0;
    width: 100%;
  }
}
