.nav-wrapper {
  height: vh;
}

.nav-section-wrapper {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0px 10px 50px grey;
}

.nav-secion__position {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.bor-bot {
  border-bottom: solid green 1px;
}

@media (max-width: 992px) {
  .nav-section {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-section-menuicon {
    display: none;
  }
}

.nav-section-menuicon {
  height: 100%;
}

.menuIcon {
  margin: auto 0; 
}