.footer__main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #370665;
  font-size: 1.2rem;
  letter-spacing: 1px;
  height: 5vh;
  font-family: "Teko";
}

.footer__main div {
  padding: 0 0.3%;
}

.footer-position {
  width: 70%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copy {
  color: white;
}

.footer-position i {
  margin: 0 3px;
}
