.each_row_position_flex_column {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    /* here is to add if more than 3 items will be in the store */
}

.wrapper_maxwitdh {
    margin-bottom: vh;
    background-color:#edcfa9;
    padding: 2% 0;
}

.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.box a {
    height: 100%;
}

.box {
    position: relative;
    height: 50vh;
    width: 32%;
    transition: ease-in filter 0.4s;
}

.box:hover {
   filter: brightness(1.2);
}

.title_in_the_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-family: 'Teko';
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_in_the_box_inner {
    width: 50%;
}




.image_in_the_box {
    height: 100%;
    width: 100%;
}

.image_in_the_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}