.imageoverlay {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageoverlay__image {
    height: 90%;
    width: auto;
    object-fit: cover;
}

.imageoverlay__image img {
    width: 100%;
    height: 100%;
}