.imageItem__image {
    border-radius: 10px;
    height: 20vh;
    width: 100%;
}


.imageItem__image img {
    object-fit: cover;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    transition: ease-in-out 0.3s all;
}

.imageItem__image img:hover {
    transform: scale(1.1);
}