.wrapper {
    width: 100%;
    height: 60vh;
}

.gallery {
    width: 100%;
    height: 60vh;
}

.gallery img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 15px;

    
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 50%;
}

.buttonsarea {
    position: fixed;
    z-index: 100;
}