.wrapper {
    width: 100%;
}

.one_row_100_width {
    background-color: antiquewhite;
    margin-top: 3vh;
}

.one_row_80_width {
    font-family: 'Nasalization';
    font-size: 1.2rem;
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
}

.name {
    transition: ease-in 0.1s transform;
}

.name:hover {
    transform: scale(1.1);
}