.galeria_main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
}

.galeria_sub {
    width: 48%;
    overflow: hidden;
}

.galeria_sub img:hover {
    transform: scale(1.1);
}

.galeria_sub img {
    transition: ease-in-out 0.4s all;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .galeria_main {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .galeria_sub {
        width: 80%;
        margin: 1% 0 0 0;
    }
  }