.trening_textarea {
    font-size: 1.1rem;
    margin: 1% 0;
}

.trening_main {
    margin-bottom: 3%;
}

h1 {
    font-size: 3rem;
}

.opis_kursu {
    text-align: left;
}

.galeria_position {
    display: flex;
    margin-bottom: 3vh;

}