@font-face {
    font-family: 'Nasalization';
    src: local('Nasalization'),
         url('./../../fonts/nasalization-rg.otf') format('opentype');
    /* font-weight: bold; */
  }

.treningi__wrapper {
    width: 60%;
    margin: 2% auto;
    font-family: Nasalization;
    text-align: center;

}

@media(max-width: 992px) {
  .treningi__wrapper {
    width: 90%;
    
  
  }

  .treningi__wrapper h1 {
    text-align: left;
    font-size: 2.5rem;
  }
  .treningi__wrapper div {
    margin-top: 7%;
  }
}