.aboutme__main {
    width: 100%;
    margin: auto;
    font-family: Nasalization;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
}

.aboutme__title {
    font-size: 2rem;
    margin-bottom: 2%;
}

.aboutme__textarea {
    width: 60%;
}
.aboutme__textarea2 {
    width: 60%;
    padding-top: 6%;
}

.aboutme__picturearea {
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:6%;
}

.aboutme__picturearea img {
    width: 100%;
    margin: auto;
}

.aboutme__wrapper {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.aboutme__gallery {
    display: flex;
    width: 85%;
    margin: auto;
    height: 350px;
}

.aboutme__gallery2 {
    display: flex;
    width: 85%;
    margin: auto;
    height: 350px;
}

.text2 {
    font-size: 3rem;
}

@media (max-width: 992px) {
    .aboutme__textarea {
        width: 90%;
    }
}