@font-face {
  font-family: 'Nasalization';
  src: local('Nasalization'),
       url('./../../fonts/nasalization-rg.otf') format('opentype');
  /* font-weight: bold; */
}

@media (min-width: 992px) and (max-width: 1700px) {
  .wrapper {

  }

  .content_wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
  }

  .content_text {
    width: 65%;
    font-family: 'Alegreya', serif;
  }

  .content_picture {
    width: 30%;
    height: 100%;
    object-fit: cover;

  }

  .content_picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .naglowek {
    margin: auto;
    margin-top: 5vh;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .nag1 {
      margin: 5px auto;
      font-size: 3rem;
      font-weight: bold;
      font-family: 'Alegreya', serif;
    }

  .gallery {
    margin: 1% auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
  }

  .gallery1 {
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .gallery__wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    background-color: #edcfa9;
    background-color: rgba(237, 207, 169, 0.5);
    padding: 0.5% 0;
  }
  .gallery__wrapper1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    background-color: #edcfa9;
    background-color: rgba(237, 207, 169, 0.5);
    padding: 0.5% 0;

  }

}

.hr1 {
  width: 80%;
  margin: 30px auto 50px auto;
}