.overlay-menu {
  position: fixed;
  z-index: 1000;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

.overlay-subdiv {
  position: absolute;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: black;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-logo {
    height: 20%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
}

.overlay-logo img {
    height: 90%;
}

.overlay-links {
  /* margin: 5% 0; */
  text-align: center;
}

.close-icon {
  color: white;
  width: 90%;
  text-align: right;
  margin: 2% auto;
}

.close-icon i {
  transition: ease 0.3s rotate;
}

.close-icon i:hover {
  rotate: 90deg;
} 

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@-webkit-keyframes fadeInFromNone {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
